/*登录页面（简单的验证密码，实现背景图轮播）*/
html,body {
  width: 100%;
  min-width: 1100px;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  user-select: none;
}

/*页面上半部分*/
.back-top-pic {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
}
/*轮播图背景图*/
.imgs {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
}
.imgs > li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 1s ease-out;
}
#imgs .on {
  display: block;
  opacity: 1;
}
.imgs img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
/*轮播图按钮*/
.order {
  width: 80px;
  height: 8px;
  list-style-type: none;
  position: absolute;
  z-index: 20;
  top: 90%;
  left: calc(50% - 50px);
  display: flex;
  justify-content: space-between;
  display: none;
}
.order > li {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  border: 1px solid #fff;
}
#order .on {
  background: #fff;
}

/*登录栏*/
.login-box {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .4);
}
/*login标题*/
.back-bar {
  width: 50%;
  margin: 14% auto 0;
}
.back-bar > p:nth-child(1), .back-bar > p:nth-child(2) {
  width: 80%;
  margin: 13px auto;
  color: #fff;
  text-align: center;
}
.back-bar > p:nth-child(1) {
  letter-spacing: 3px;
  font-size: 46px;
  font-weight: bolder;
}
.back-bar > p:nth-child(2) {
  font-size: 20px;
}
/*表单验证区域*/
form {
  width: 50%;
  margin: 10px auto;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
form > div:nth-child(1) {
  width: 68%;
  height: 40px;
  margin: 5px auto;
  display: flex;
  justify-content: space-between;
}
.input-box {
  width: 45%;
  border: 2px solid grey;
  border-radius: 4px;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  outline: none;
  color: grey;
  letter-spacing: 2px;
  text-decoration: none;
}
/*重置按钮和提交按钮*/
.button {
  margin: 20px auto 0;
  width: 68%;
  height: 50px;
  line-height: 50px;
  border: 0;
  border-radius: 4px;
  background: #2ECC71;
  font-size: 18px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  transition: all .2s ease-out;
}
.button:hover {
  background: #28B468;
}
/*没有权限，返回主页*/
.back-button {
  width: 90%;
  font-size: 14px;
  margin: 50px auto;
  text-align: center;
}
.back-button a {
  color: #fff;
  transition: all .4s ease-out;
}