/* for twemoji */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #444;
  color: #EEE;
  font-family: "DejaVu Sans", Arial, sans-serif;
}
.top-bar {
  width: 100%;
  height: 50px;
  margin: 10px auto;
  padding: 0;
  border: 0;
}
.top-bar p {
  margin: 0;
  padding: 0;
  font-size: 40px;
  text-align: center;
  color: #fff;
}
#editor {
  width: 100%;
  height: 1000px;
  max-width: 800px;
  padding: 10px 20px;
  margin: 10px auto;
  border: 1px solid #000;
  background: #eeeeee;
  color: #000000;
  box-shadow: 0 2px 5px #000000;
}
blockquote {
  border-left: 10px solid #ccc;
  background: #FFF;
  margin: 1em;
  padding: .5em 1em;
}
code, pre {
  background: #FFF;
  padding: 2px 5px;
  font-size: .87em;
  margin: initial 5px;
  font-family: "DejaVu Sans Mono", "Consolas", "Courier New", monospace;
}
table, td, th {
  border-collapse:collapsed;
  border: 1px solid #333;
}
.emoji {
  height: 1em;
  vertical-align: middle;
}
.back-button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 2px 0px 12px 1px rgba(240, 240, 240, .3);
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  background: rgba(250, 250, 250, .4);
  color: rgba(0, 0, 0, .7);
  cursor: default;
  transition: background .2s ease;
}
.back-button:hover {
  background: rgba(250, 250, 250, .8);
}